@import '../app';

.Alert {
    border: 1px solid;
    border-radius: 3px;
    cursor: pointer;
    padding: 1rem 2rem;
    position: relative;
    width: 100%;

    &::after {
        color: currentColor;
        content: '×';
        font-size: 1.5rem;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }

    &.is-info {
        background: $c-info-background;
        border-color: $c-info-border;
        color: $c-info-color;
    }

    &.is-error {
        background: $c-error-background;
        border-color: $c-error-border;
        color: $c-error-color;
    }

    &.is-warning {
        background: $c-warning-background;
        border-color: $c-warning-border;
        color: $c-warning-color;
    }

    &.is-success {
        background: $c-success-background;
        border-color: $c-success-border;
        color: $c-success-color;
    }
}
