@import '../app';

.FormTextarea {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    color: $c-darkest;
    font-size: 1rem;
    line-height: 1.2;
    min-height: 150px;
    max-width: 100%;
    padding: 8px 12px;
    width: 100%;

    &.no-resize { resize: none; }

    &:disabled {
        background: #e5e5e5;
        cursor: not-allowed;
    }

    &:read-only {
        color: #666;
        cursor: not-allowed;
        font-style: italic;
    }
}
