$body-min-font: 16px !default;
$body-max-font: 18px !default;
$grid-columns: 24;

$c-black: #000;
$c-white: #fff;

$c-neutro: #808080;
$c-darkest: #111;

$c-lightest: #f1f1f1;

$c-framework-primary: #61bfad;
$c-framework-secondary: #ff8fa4;

$c-info-color: #31708f;
$c-info-background: #d9edf7;
$c-info-border: #bce8f1;

$c-error-color: #a94442;
$c-error-background: #f2dede;
$c-error-border: #ebccd1;

$c-warning-color: #8a6d3b;
$c-warning-background: #fcf8e3;
$c-warning-border: #faebcc;

$c-success-color: #3c763d;
$c-success-background: #dff0d8;
$c-success-border: #d6e9c6;

/* Media Queries */
$s0: (0, 479px);
$s480: (480px, 639px);
$s640: (640px, 767px);
$s768: (768px, 959px);
$s960: (960px, 1023px);
$s1024: (1024px, 1199px);
$s1200: (1200px, 1439px);
$s1440: (1440px, 1919px);
$s1920: (1920px, 0);

$breakpoints: (
    (s0, $s0),
    (s480, $s480),
    (s640, $s640),
    (s768, $s768),
    (s960, $s960),
    (s1024, $s1024),
    (s1200, $s1200),
    (s1440, $s1440),
    (s1920, $s1920)
);

$screen: "only screen" !default;
