<template>
    <baseSample></baseSample>
</template>

<script>
import BaseSample from './organisms/BaseSample'

export default {
    name: 'Custom',
    components: {
        BaseSample
    }
}
</script>
