<template>
    <block>
        <div slot="title">{{ title }}</div>
        <div slot="description">{{ description }}</div>
        <div class="Block-samples" slot="content" v-html="markup"></div>
        <toggle slot="toggle">
            <markup language="markup" :code="markup">
            </markup>
        </toggle>
    </block>
</template>

<script>
import Block from '../../framework/organisms/Block'
import Toggle from '../../framework/molecules/Toggle.vue'
import Markup from '../../framework/atoms/Markup'

let markup = `
<div class="BaseSample">
    <img class="BaseSample-image" src="http://lorempixel.com/300/300">
    <div class="BaseSample-info">
        He says the restraining bolt has short circuited his recording system. He suggests that if you remove the bolt, he might be able to play back the entire recording. H'm? Oh, yeah, well, I guess you're too small to run away on me if I take this off! Okay. There you go. Well, wait a minute. Where'd she go? Bring her back! Play back the entire message. What message? The one you're carrying inside your rusty innards! Luke? Luke! Come to dinner! All right, I'll be right there, Aunt Beru. I'm sorry, sir, but he appears to have picked up a slight flutter. Well, see what you can do with him. I'll be right back. Just you reconsider playing that message for him. No, I don't think he likes you at all. No, I don't like you either.
    </div>
</div>
`;

export default {
    name: 'BaseSample',
    components: {
        Block,
        Toggle,
        Markup
    },
    data () {
        return {
            title: 'Custom Base Sample',
            description: 'A base file of custom components for a project style guide, isolating it from the base/common style guide. You can comment this import in Custom.vue',
            obj: {},
            markup: markup
        }
    }
}
</script>

<style lang="scss">
.BaseSample {
    font-size: 1rem;

    &-image { margin: 0 0 1rem; }

    &-info {
        line-height: 1.2;
        width: 100%;
    }
}

@media screen and ('min-width: 768px') {
    .BaseSample {
        display: flex;

        &-image {
            flex: 0 0 300px;
            margin: 0;
            width: 100%;
        }

        &-info { padding: 0 0 0 30px; }
    }
}
</style>
