export default {
    custom: 'My project',
    subsections: [
        {
            title: 'Custom section 1',
            anchors: [
                {
                    title: 'Base sample',
                    anchor: '#BaseSample'
                }
            ]
        }
    ]
}
